.logout {
    padding: 2rem;
    margin: 0 auto;
    h2 {
        text-align: center;
        color: cornflowerblue;
        line-height: 1;
    }
    p {
        margin-top: 1rem;
        color: rgba(32, 30, 30, 0.882);
        width: fit-content;
    }
}